.chat-main
  .chat-main__header
    .chat-main__header--left-box
      .chat-main__header--left-box-name
        = @group.name
      .chat-main__header--left-box-group
        Member :
        - @group.users.each do |user|
          = user.name
    .chat-main__header--right-box
      = link_to edit_group_path(@group.id), class: "edit-btn" do
        %p Edit
  .chat-main__messages
    = render @messages
  .chat-main__form
    = form_for [@group, @message] do |f|
      .chat-main__form--left
        = f.text_field :content, class: 'chat-main__form--left-text', placeholder: 'type a message'
        .chat-main__form--left-img
          = f.label :image, class: 'input--box__image' do
            %i.fa.fa-image
            %input#message_image{type: "file"} 
      = f.submit 'Send', class: 'chat-main__form--right'
