.chat-main
  .chat-main__header
    .chat-main__header--left-box
      .chat-main__header--left-box-name
        test
      .chat-main__header--left-box-group
        Member:masa
    .chat-main__header--right-box
      = link_to "#", class: "edit-btn" do
        %p Edit
  .chat-main__messages
    .chat-main__messages--box
      .chat-main__messages--box-user
        .chat-main__messages--box-user-name
          masa
        .chat-main__messages--box-user-date
          2019/11/20(wed) 17:43:01
      .chat-main__messages--box-massege
        おはよう
  .chat-main__form
    = form_for [@group, @message] do |f|
      .chat-main__form--left
        = f.text_field :content, class: 'chat-main__form--left-text', placeholder: 'type a message'
        .chat-main__form--left-img
          = f.label :image, class: 'input--box__image' do
            %i.fa.fa-image
            %input{type: "file"}
      = f.submit 'Send', class: 'chat-main__form--right'
