.chat-side
  .chat-side__header
    .chat-side__header--box
      .chat-side__header--box--left
        = current_user.name
      .chat-side__header--box--right
        = link_to new_group_path, class: "box__btn" do
          %i.fas.fa-edit
        = link_to edit_user_path(current_user), class: "box__btn" do
          %i.fas.fa-cog
  .chat-side__groups
    - current_user.groups.each do |group|
      .chat-side__groups--box
        = link_to group_messages_path(group) do
          .chat-side__groups--box--name
            = group.name
          .chat-side__groups--box--lastmassege
            メッセージはまだありません
